.burgerConstructor__elWrapper {
  display: flex;
  align-items: center;
  cursor: move;
}

.burgerConstructor__dragger {
  height: 19px;
  width: 14px;
  margin-right: 12px;
  background-image: url(../../../images/dragger.svg);
  
}