.burgerConstructor {
  margin-top: 100px;
  height: fit-content;
  width: 616px;
}

.burgerConstructor__ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.burgerConstructor__filling {
  overflow: overlay;
  display: flex;
  flex-direction: column;
  width: 577px;
  max-height: 51vh;
  gap: 16px;
}

.burgerConstructor__priceWrapper {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.burgerConstructor__submitWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 35px 35px 0 0;
}

.burgerConstructor__priceDigit {
  margin-right: 4px;
}
