.constructor {
  margin-top: 100px;
  height: fit-content;
  width: 600px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 28px;
}

.filling {
  overflow: overlay;
  display: flex;
  flex-direction: column;
  max-height: 464px;
  gap: 16px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.submitWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 40px 35px 0 0;
}

.priceDigit {
  margin-right: 4px;
}

.filling::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
}
.filling::-webkit-scrollbar-track {
  background: #2F2F37;        /* цвет дорожки */
}
.filling::-webkit-scrollbar-thumb {
  background-color: #8585AD;   /* padding вокруг плашки */
}