.card {
  display: flex;
  flex-direction: column;
  width: 272px;
  cursor: pointer;
}

.card:nth-child(odd) {
  margin-right: 24px;
}

.card:nth-child(n + 3) {
  margin-top: 32px;
}

.card__ingredientName {
  max-width: 272px;
  min-height: 48px;
  text-align: center;
}

.card__imageWrapper {
  margin-bottom: 8px;
  position: relative;
  display: flex;
}

.card__image {
  width: 100%;
  max-width: 240px;
  max-height: 120px;
  margin: auto;
}
