/* .list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
} */

.listWrapper {
  overflow: overlay;
  max-height: 80%;
}

.wrapper {
  width: 600px;
  max-height: 100vh;
  margin: 0;
  padding: 0 0 0 20px;
}

.listWrapper::-webkit-scrollbar {
  width: 8px;      
}
.listWrapper::-webkit-scrollbar-track {
  background: #2F2F37;
}
.listWrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}